.dropdown-container {
  z-index: 1;
  position: fixed;
  left: 25px;
  right: 25px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.1);
  transition: all .15s ease;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  padding-bottom: 3.125rem;
  padding-top: 3.125rem;
  transition: all .15s ease;

  .dropdown-link {
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    text-transform: capitalize;
    margin-bottom: .9375rem;
  }

  .dropdown-listitem-link {
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: .9375rem;
  }
}

.dropdown-hidden {
  opacity: 0;
  visibility: hidden;
}

