@font-face {
  font-family: "Klarna Text";
  font-weight: 400;
  src: url("https://x.klarnacdn.net/ui/fonts/v1.2/KlarnaText-Regular.woff2") format('woff2'),
       url("https://x.klarnacdn.net/ui/fonts/v1.2/KlarnaText-Regular.woff") format('woff');
}
@font-face {
  font-family: "Klarna Text";
  font-weight: 500;
  src: url("https://x.klarnacdn.net/ui/fonts/v1.2/KlarnaText-Medium.woff2") format('woff2'),
       url("https://x.klarnacdn.net/ui/fonts/v1.2/KlarnaText-Medium.woff") format('woff');
}
@font-face {
  font-family: "Klarna Text";
  font-weight: 700;
  src: url("https://x.klarnacdn.net/ui/fonts/v1.2/KlarnaText-Bold.woff2") format('woff2'),
       url("https://x.klarnacdn.net/ui/fonts/v1.2/KlarnaText-Bold.woff") format('woff');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Klarna Text ,Helvetica Neue ,Arial ,Helvetica ,sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: Klarna Text ,Helvetica Neue ,Arial ,Helvetica ,sans-serif;
}

* {
  box-sizing: border-box;
}

$btnRadius: 20px;
$commonPadding: 25px;
$mainContainerPadding: 3.125rem 9.375rem;

$maxScreen: 1440px;
$smallScreens: 640px;
$tabletScreen: 600px;

@mixin smallerScreens {
  @media (max-width: 850px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (max-width: $tabletScreen) {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@mixin darkerElement {
  filter: brightness(0.2);
}

.darken-main {
  background: rgba(0,0,0,.8);

  img {
    @include darkerElement;
  }
}

main {
  position: relative;
  top: 80px;

  .history-page-title {
    padding-bottom: 10px;
  }
}

@import './Header.scss';
@import './Dropdown.scss';
@import './History.scss';
@import './Footer.scss';
